html {
    background-color: beige;
}

.titles {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana;
    text-align: center;
    background-color: lightgreen;
    color: white;
    padding: 10px 0px;
    width: 800px;
    border: solid 3px black;
}

ul {
    text-align: center;
    list-style-position: inside;
    font-family: Tahoma;
}

li.recipes {
    display: inline-block;
    margin: 0 30px;
    border-color: orange;
    border-width: 20px;
    background-color: white;
    padding: 60px 30px;
    border: solid 2px black; 
    font-family: sans-serif;
}

li.sources {
    border: solid 2px black;
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}
